/* images*/

.logo{
    width:50px;
    height: 44px;
}

.library-card img{
    max-width: 400px;
}

.library-card p{
    margin-top: 4px;
}
.title-card{
    font-size: 20px;
    font-weight: bold;
}

/* anchor tags */



.sidebar-title{
    background-color: #f2f2f2;
}